@media (max-width: 1000PX) {
  #about-me_wrapper {
    width: 95%;
  }

  #about-me_polynesian-pattern-round-mask {
    left: -750px;
  }

}

@media (max-width: 800PX) {

  #about-me_wrapper {
    flex-direction: column-reverse;
  }

  #about-me_content {
    width: 85%;
  }

  #about-me_illustration {
    width: 250px;
  }

}
