////////////////////////////   Default   \\\\\\\\\\\\\\\\\\\\\\\\\\\
* {
	padding: 0;
	margin: 0;
	list-style: none;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'montserrat regular';
}
a {
	color: inherit;
}
em, h3, address {
	font-style: normal;
	font-weight: normal;
}
////////////////////////////   Font-faces   \\\\\\\\\\\\\\\\\\\\\\\\\\\
@font-face {
	font-family: 'home-run';
	src: url('../fonts/home-run.eot');
	src: local('home-run'), url('../fonts/home-run.woff') format('woff'), url('../fonts/home-run.ttf') format('truetype');
}
@font-face {
	font-family: 'montserrat bold';
	src: url('../fonts/montserrat-bold-webfont.eot');
	src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
		url('../fonts/montserrat-bold-webfont.woff') format('woff'),
		url('../fonts/montserrat-bold-webfont.ttf') format('truetype'),
		url('../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'montserrat regular';
	src: url('../fonts/montserrat-regular-webfont.eot');
	src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
		url('../fonts/montserrat-regular-webfont.woff') format('woff'),
		url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
		url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
////////////////////////////   Variables   \\\\\\\\\\\\\\\\\\\\\\\\\\\
// Fonts
$homerun: 'home-run';
$ms-r: 'montserrat regular';
$ms-b: 'montserrat bold';
// Colors
$light-gray: #f2f2f2;
$dark-gray : #8e8e8e;
$jkj-orange : #ff2400;
$jkj-red : #ce1300;
$lighter-black : #151515;
////////////////////////////   Fonts classes    \\\\\\\\\\\\\\\\\\\\\\\\\\\
.font-hr {
	font-family: $homerun;
	font-style: normal;
	font-weight: normal;
}
.font-msb {
	font-family: 'montserrat bold';
}
.font-msr {
	font-family: 'montserrat regular';
}
////////////////////////////   Helper clases   \\\\\\\\\\\\\\\\\\\\\\\\\\\
// Position
.f-left {
	float: left;
}
.f-right {
	float: right;
}
.ta-left {
	text-align: left;
}
.ta-right {
	text-align: right;
}
.ta-center {
	text-align: center;
}
.m-auto {
	margin : 0 auto;
}
.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
// Display
.dis-none {
	display: none;
}