footer {
	height: 250px;
	background-image: url(../img/JKJ-texture-navigation.jpg);
	background-position: center center;

}

.footer-collumns-container {
	width: 65%;
	margin: 0 auto;
}

.footer-collumns {
	width: 33%;
	display: inline-block;
	height: 250px;
	line-height: 250px;
	vertical-align: top;
}

.footer-collumns-content {
	display: inline-block;
	line-height: normal;
	vertical-align: middle;
	color: black;
	list-style: none;
	& > p  span {
		color: #ff3600;
		font-size: 1.1em;
	}
	& > .dot {
		margin-left: 120px;
	}
	& a {
		text-decoration: none;
		color: #000;
		list-style: none;
	}

}

.social-network-container {
	width: 100%;
	text-align: center;
}

svg:hover path,
svg:hover g,  {
	fill: #ff3600;
	transition: fill 0.2s;
}

svg {
	height: 60px;
	fill: #000;
}
